# MongoDB Connection
MONGODB_URI=mongodb://<user>:<password>
# JWT Configuration
JWT_SECRET=super_secret_key
JWT_EXPIRE=7d

# Server Configuration
PORT=3001

# Email Configuration (Optional - for bonus feature)
SMTP_EMAIL=your_email@gmail.com
SMTP_PASSWORD=your_app_password
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587